<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column h-100">
  
    <header>
        <div>
            <a class="txt-company-title">与贝科技</a>
        </div>
        <div class="grid-right">
            <a class="btn-login" href="/SystemManage/Security/SignIn">
                登录
            </a>
        </div>
    </header>
    <style>
        .main {
            min-height: 620px;
            background: #fff !important;
        }
    </style>

    <main class="main">
        @RenderBody()
    </main>

    <footer class="pt-5 pb-3 footer footer-dark bg-tertiary">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="pr-lg-5">
                        <h1 class="heading h6 text-uppercase font-weight-700 mb-3">与贝科技</h1>
                        <p class="company-des">
                            使用 Python、C#、Java 等编程语言，结合 QT、MFC 等开发框架，可开发出功能丰富的界面。上位机能够实时获取下位机的数据并进行处理、分析、存储和展示，同时将控制指令发送给下位机。其广泛应用于工业自动化、智能家居、智能交通等领域，是实现设备智能化控制和管理的重要手段。
                        </p>
                    </div>
                </div>
                <div class="col-6 col-md">
                    <h5 class="heading h6 text-uppercase font-weight-700 mb-3"></h5>
                    <ul class="list-unstyled text-small">
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5 class="heading h6 text-uppercase font-weight-700 mb-3"></h5>
                    <ul class="list-unstyled text-small">
                    </ul>
                </div>

                <div class="col-6 col-md">
                    <h5 class="heading h6 text-uppercase font-weight-700 mb-3">友情链接</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" target="_blank" href="https://github.com/">Github</a></li>
                        <li><a class="text-muted" target="_blank" href="https://gitee.com/">Gitee</a></li>
                        <li><a class="text-muted" target="_blank" href="http://www.hslcommunication.cn/">胡工科技</a></li>
                        <li><a class="text-muted" target="_blank" href="https://www.csdn.net/">CSDN</a></li>
                        <li><a class="text-muted" target="_blank" href="https://stackoverflow.com/">StackOverflow</a></li>
                        <li><a class="text-muted" target="_blank" href="https://www.doubao.com/">抖音</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="d-flex align-items-center">
                <span class="">
                    © 2025 <a href="https://gitee.com/luo-ross/HMIProject" class="footer-link" target="_blank">中国与贝科技有限公司</a>. All RIGHT RESERVERED.
                </span>

                <ul class="nav ml-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="https://gitee.com/luo-ross/HMIProject" target="_blank">
                            Documentation
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://choosealicense.com/licenses/mit/" target="_blank">
                            License
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://gitee.com/luo-ross/HMIProject" target="_blank">
                            Source code
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
