@{
    ViewData["Title"] = "密码重置-自动服务-myweb.com";
    ViewData["PageName"] = "与贝安全中心";
}
<style>
    .form-border {
        box-shadow: 0 6px 32px -7px rgba(29, 102, 189, .16);
        border-radius: 5px;
    }

    .password {
        width: 325px;
    }

    .title-decorate {
        background: #2b8dfd;
        height: 14px;
        margin-right: 6px;
        width: 3px;
    }

    .form-control:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: none;
    }


    .form label.error {
        color: #dc3545;
        padding-left: 3px;
        margin-top: 2px;
    }
</style>


<div class="d-flex w-100 h-100 justify-content-center align-items-center">
    <div class="form-border d-flex p-5">
        <form class="form">
            <div class="d-flex justify-content-start align-items-center">
                <div class="title-decorate"></div>
                <div>密码重置</div>
            </div>
            <div class="form-group mt-4">
                <input type="password" class="form-control password " id="password1" name="password1" placeholder="请再次输入密码" required minlength="8" >
            </div>
            <div class="form-group mt-4">
                <input type="password" class="form-control password" id="password2" name="password2" placeholder="请再次输入密码" required minlength="8" equalTo="#password1">
            </div>
            <button type="button" class="btn btn-primary w-100 mt-5 btn-passconfirm">提交</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/localization/messages_zh.min.js"></script>
    <script src="~/lib/crypto-js-develop/src/core.js"></script>
    <script src="~/lib/crypto-js-develop/src/md5.js"></script>
    <script src="~/js/utils.js"></script>
    <script src="~/js/passwordedit.js"></script>
}









