@{
    ViewData["Title"] = "密码重置-自动服务-myweb.com";
    ViewData["PageName"] = "与贝安全中心";
}
<style>
    .form-border {
        box-shadow: 0 6px 32px -7px rgba(29, 102, 189, .16);
        border-radius: 5px;
    }

    #email {
        width: 325px;
    }

    .title-decorate {
        background: #2b8dfd;
        height: 14px;
        margin-right: 6px;
        width: 3px;
    }

    .form-control:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: none;
    }
</style>

<div class="d-flex w-100 h-100 justify-content-center align-items-center">
    <div class="form-border d-flex p-5">
        <div role="form">
            <div class="d-flex justify-content-start align-items-center">
                <div class="title-decorate"></div>
                <div>找回密码</div>
            </div>
            <div class="d-flex justify-content-start align-items-center mt-4">
                <input type="email" class="form-control" id="email" placeholder="请输入邮箱">
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <a class="btn btn-primary w-100 mt-5 btn-passnew">密码重置</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/utils.js" asp-append-version="true"></script>
    <script src="~/js/passwordnew.js" asp-append-version="true"></script>
}









