@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "上位机-安全中心";
    var timestamp = ViewData["Timestamp"];
}

<style>
    .tab-border{
    justify-content:start;
    }


    .div-content{
       margin: 100px 0px 0px 0px;
    }

    .tab-border label {
    margin: 0px;
}

</style>

<div>
    <div class="tab-border">
        <input type="radio" checked id="radio-passwordfind" name="tab" value="radio-passwordfind">
        <label class="label-tab label-register" for="radio-passwordfind">密码找回</label>
    </div>

    <div class="div-content">
   @Html.Partial("_EmailPartial")
   
   
    <button class="btn-passwordfind">密码找回</button>
    </div>
  
       
</div>






