@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "上位机-安全中心";
    var clientId = ViewData["ClientId"];
    var timeStamp = ViewData["TimeStamp"];
}

<style>

    .btn-verifyrequest {
        border: none;
        width: 130px;
        border-radius: 5px;
        margin: 2px 3px;
        color: #949494;
    }

        .btn-verifyrequest:hover {
            opacity: 0.8;
        }

        .btn-verifyrequest:active {
            opacity: 0.7;
        }

    .btn-register {
        margin: 10px 3px 2px 3px;
    }

    .btn-verifyrequest {
        width: auto;
    }

    .verifyrequest-desborder {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div-des, .div-verifytime {
        white-space: nowrap;
    }

    .div-verifytime {
        margin: 0px 5px 0px 5px;
    }
</style>


<a class="btn-return">返回</a>

<div class="form-row">
    @Html.Partial("_VerifyPartial")
    <button class="btn-verifyrequest">
        <div class="verifyrequest-desborder">
            <div class="div-des">获取验证码</div>
            <div class="div-verifytime d-none">60</div>
        </div>
    </button>
</div>
<div class="form-row">
    <button type="button" class="btn-emailverify">邮箱验证</button>
</div>

@section Scripts {
    <script src="~/js/register.js"></script>
}

